/*
============================================================
		   Font Color
============================================================
*/
a,
.slides-navigation a:hover:after,
.section-title h1,
.slogan h1 span,
.header-title span,
.single-post-nav a:hover,
.single-post-nav a:hover:after,
.pagenavi .page-numbers,
.comment .comment-author a,
.link-icon .curtain:hover:after,
.plus-icon .curtain:hover:after,
.project-nav li a:hover:after,
.project-meta-title,
.news_wrap .post-option>li>a,
.widget_tag_cloud .tagcloud a,
#searchform input[type="text"]:focus + .submit-search:before,
.quote-author {
    color: #6091ba;
}

#team-slider .owl-nav [class*="owl-"]:hover,
#blog-slider .owl-nav [class*="owl-"]:hover {
    color: #6091ba !important;
}

.scroll-to-top:after {
    color: #e6e6e6;
}

.copyright a,
.developed a {
    color: #4aa6f4;
}

#team-slider .owl-nav [class*="owl-"],
#blog-slider .owl-nav [class*="owl-"] {
    color: #ddd !important;
}

.rating>span,
.news_wrap .event_des span,
.join-event-option .social-icons-2 ul li a {
    color: #ddd;
}

.slogan h2,
.single-post-nav a:after,
.comment .comment-date a,
.project-meta .project-meta-date,
#footer,
#footer p,
ul.social-icons li i {
    color: #aeaeae;
}

.course-wrap .course_cur_des>span,
.course-wrap .course_cur_des>strong span,
.course-wrap .course_cur_des>strong small,
ul.flat-list li:before {
    color: #333;
}

a:hover,
a:focus,
a:active,
.readmore:hover i {
    color: #2f506c;
}

button,
.team-plus-icon .curtain:after,
.button.default:hover,
.transparent #logo a,
.top-nav-collapse #logo a,
.transparent .navigation > ul > li > a,
.transparent .navigation > ul > li > a > .caret,
.transparent .navigation > ul > li > a:after,
.transparent .navigation > ul > li > a:focus,
.navigation > ul > li:hover > a:after,
.navigation > ul > li:focus > a:after,
.navigation > ul > .active > a:after,
.navigation ul ul li a,
.navigation ul ul .rightarrowclass > a:after,
.navigation ul ul a:hover,
.navigation ul ul .current-menu-item > a,
.navigation ul ul .current-menu-parent > a,
.navigation ul ul .current-menu-ancestor > a,
.navigation ul ul .current_page_item > a,
.navigation ul ul .current_page_parent > a,
.navigation ul ul .current_page_ancestor > a,
.responsive-nav-button:after,
.header-text h1,
.header-text h2,
.header-text h3,
.header-text h4,
.header-text h5,
.header-text h6,
.slides-navigation a:after,
.counter .count,
.parallax .counter .details,
.pagenavi .current,
.pagenavi .page-numbers:hover,
.portfolio-filter li.active,
.link-icon .curtain:after,
.plus-icon .curtain:after,
.extra-title,
.extra-category,
.flat-button,
.widget_tag_cloud .tagcloud a:hover,
.bottom-footer,
ul.social-icons a:hover i,
.parallax .quote-text,
.parallax .quote-author,
.tabs-nav .active a,
ul.circle-list li:hover:before,
.scroll-to-top:hover:after,
.button.turquoise {
    color: #fff;
}

.navigation > ul > li:hover > a,
.navigation > ul > li:focus > a,
.navigation > ul > .active > a {
    color: #fff!important;
}

body,
.counter .details,
.page-template .bottom-footer,
.ie8 .page-template .bottom-footer,
.tabs-nav li a,
ul.circle-list li:before {
    color: #777;
}

.error,
.success,
.info,
.notice {
    color: #777 !important;
}


/* Default Color */

h1,
h2,
h3,
h4,
h5,
h6,
.navigation > ul > li > a,
.navigation > ul > .downarrowclass > a:after,
.single-post-nav a,
.project-page-header .project-title,
#searchform .submit-search:before {
    color: #5b5e60;
}

blockquote,
.team-position,
.entry-meta span,
.tags a,
.tags a:before,
.project-nav li a:after {
    color: #aeaeae;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
select,
button,
.course-wrap .course-meta li,
.news_wrap .post-option li,
.join-event-option .btn-list .btn,
Chrome,
Safari input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
Firefox input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999;
}

.button.default,
.course-wrap .course_tab_wrap .nav-tabs>li>a {
    color: #666;
}

.review-stars i,
ul.flat-list li:before,
.flat-reviews li i {
    color: #ffaa30;
}

.error:before {
    color: #ce717c;
}

.success:before {
    color: #8aaa67;
}

.info:before {
    color: #66aac4;
}

.notice:before {
    color: #c8a749;
}

.error .alert-close {
    color: #ce717c;
}

.success .alert-close {
    color: #8aaa67;
}

.info .alert-close {
    color: #66aac4;
}

.notice .alert-close {
    color: #dec47b;
}

/*
============================================================
		   Background Color
============================================================
*/
body,
#header,
.slides-pagination a,
.section,
.link-icon .curtain:hover,
.plus-icon .curtain:hover,
.course-wrap .course_tab_wrap .nav>li.active>a,
.course-wrap .course_cur_des>span,
.news_wrap .news_des,
#footer .section,
.parallax .quotes-control-nav .activeSlide {
    background-color: #fff;
}

.preloader {
    background: #ffffff;
}

.error {
    background-color: #fac9cf;
}

.success {
    background-color: #e0f2cd;
}

.info {
    background-color: #c6e7f4;
}

.notice {
    background-color: #feefc5;
}

.parallax .quotes-control-nav a {
    background-color: #ececec;
    background-color: rgba(255, 255, 255, .5);
}

.quote-image:before,
.quote-image:after {
    background-color: #dcdcdc;
}

.quotes-control-nav .activeSlide {
    background-color: #777;
}

.link-icon .curtain:hover,
.plus-icon .curtain:hover {
    border-color: transparent;
    background-color: rgba(255, 255, 255, .9);
}

.portfolio-filter li.active + li {
    border-left-color: #6091ba;
}

.portfolio-filter li.active,
.widget_tag_cloud .tagcloud a:hover,
.tabs-nav .active a,
ul.circle-list li:after,
.scroll-to-top:hover,
.sk-folding-cube .sk-cube:before,
.social-icons a + .tooltip > .tooltip-inner {
    background-color: #6091ba;
}


/* BG Color for Image Parallax */

.bg-turquoise-color {
    background-color: #2f506c;
}

.bg-dark-color {
    background-color: #000;
}


/* BG Color */

.bg-gray-color {
    background-color: #f8f8f8;
}

#header,
.navigation ul ul a:hover,
.navigation ul ul .current-menu-item > a,
.navigation ul ul .current-menu-parent > a,
.navigation ul ul .current-menu-ancestor > a,
.navigation ul ul .current_page_item > a,
.navigation ul ul .current_page_parent > a,
.navigation ul ul .current_page_ancestor > a,
.counter .count,
.counter .details {
    background: rgba(5, 9, 53, 0.9);
    /*rgba(127, 202, 206, 0.54);*/
    /*rgba(169, 222, 247, 0.75); */
    /*rgba(0, 0, 56, 0.75);*/
    /*rgba(47, 80, 108, 0.8);*/
}

.transparent .navigation > ul > li:hover > a,
.transparent .navigation > ul > li:focus > a,
.transparent .navigation > ul > .active > a,
.navigation ul ul,
.image-extra,
.work-item.touched .image-extra,
.work-item:hover .image-extra {
    background-color: #6091ba;
    background-color: rgba(96, 145, 186, .7);
}

.transparent .navigation > ul > li.active:first-child:hover > a {
    background-color: #6091ba;
    background-color: rgba(96, 145, 186, .7) !important;
}

.top-nav-collapse .navigation > ul > li:hover > a,
.top-nav-collapse .navigation > ul > li:focus > a,
.top-nav-collapse .navigation > ul > .active > a {
    background-color: #fff;
    color: #2f506c !important;
}

.top-nav-collapse .navigation > ul > li.active:first-child > a {
    color: #fff !important;
}

.top-nav-collapse .navigation > ul > li:hover > a:after,
.top-nav-collapse .navigation > ul > li:focus > a:after,
.top-nav-collapse .navigation > ul > .active > a:after,
.responsive-nav-button,
.bg-turquoise-color {
    color: #2f506c;
    text-decoration: none;
    outline: none;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
select,
button {
    background-color: transparent;
}

.team-plus-icon .curtain:after {
    background-color: rgba(96, 145, 186, .8);
}

.divider,
.section-title:after,
.team-group {
    background-color: #ececec;
}

.course-meta.review.style2 li:after {
    background: #e5e5e5;
}

.tabs-nav a:hover {
    background-color: #f6f6f6;
}

.button.default:hover,
.button.turquoise,
#header.header-shrink,
.navigation > ul > li:hover > a,
.navigation > ul > li:focus > a,
.navigation > ul > .active > a,
.pagenavi .current,
.pagenavi .page-numbers:hover,
.bottom-footer {
    background-color: rgba(5, 9, 53, 0.9);
    /*rgba(127, 202, 206, 0.54); */
    /*#000038;*/
    /*#2f506c;*/
}

.course-wrap .course-header {
    background: #f9f9f9;/*rgba(5, 9, 53, 0.9);*/
    /*rgba(127, 202, 206, 0.54);*/
    /*#f9f9f9;*/
}

.course-wrap .course_tab_wrap .nav>li>a:focus,
.course-wrap .course_tab_wrap .nav>li>a:hover,
.course-wrap .course_tab_wrap .nav-tabs>li>a:hover,
.quotes-control-nav a {
    background-color: #eeeeee;
}

.course-wrap .course_cur_des_ft {
    background-color: #f8f8f8;
}

.news_wrap {
    background-color: #f7f7f7;
}

ul.social-icons .twitter a:hover {
    background-color: #47c0d8;
}

ul.social-icons .facebook a:hover {
    background-color: #49699f;
}

ul.social-icons .linkedin a:hover {
    background-color: #2c7cb7;
}

ul.social-icons .pinterest a:hover {
    background-color: #c21c21;
}

ul.social-icons .rss a:hover {
    background-color: #fe9900;
}

ul.social-icons .gplus a:hover {
    background-color: #c33d19;
}

ul.social-icons .flickr a:hover {
    background-color: #e82c88;
}

ul.social-icons .instagram a:hover {
    background-color: #517fa3;
}

ul.social-icons .dropbox a:hover {
    background-color: #5da3e8;
}

ul.social-icons .youtube a:hover {
    background-color: #b72d24;
}

ul.social-icons .blogger a:hover {
    background-color: #f38f33;
}

ul.social-icons .evernote a:hover {
    background-color: #73b122;
}

ul.social-icons .dribbble a:hover {
    background-color: #e65992;
}

ul.social-icons .behance a:hover {
    background-color: #18a3fe;
}

ul.social-icons .lastfm a:hover {
    background-color: #be0607;
}

ul.social-icons .skype a:hover {
    background-color: #24b0e4;
}

ul.social-icons .vimeo a:hover {
    background-color: #568799;
}

ul.social-icons .forrst a:hover {
    background-color: #628267;
}

ul.social-icons .digg a:hover {
    background-color: #2882c6;
}

ul.social-icons .appstore a:hover {
    background-color: #606060;
}

ul.social-icons .wordpress a:hover {
    background-color: #33759d;
}

ul.social-icons .stumbleupon a:hover {
    background-color: #eb4924;
}

ul.social-icons .deviantart a:hover {
    background-color: #5f7162;
}

ul.social-icons .github a:hover {
    background-color: #7292a2;
}

ul.social-icons .mail a:hover {
    background-color: #65a413;
}

.scroll-to-top {
    background-color: #fff;
    background-color: rgba(255, 255, 255, .25);
}
/*
============================================================
		   Border Color
============================================================
*/
.border,
.main-entry {
    border-bottom: 1px solid #ececec;
}

.button.default:hover {
    border-color: transparent;
}

.widget_categories ul li,
.widget_archive ul li,
.widget_links ul li,
.widget_meta ul li,
.widget_pages ul li,
.widget_recent_entries ul li {
    border-top-color: #e6e6e6;
}

.widget_recent_posts .entry,
ul.circle-list li,
.scroll-to-top {
    border-color: #e6e6e6;
}

.pagenavi .page-numbers,
.portfolio-filter li,
.widget_tag_cloud .tagcloud a,
.tabs-nav,
.tabs-nav li,
.tabs-nav li a,
.tabs-nav li:first-child a,
.tabs-nav a:hover {
    border-color: #cfcfcf;
}

.single-post-nav,
.page-template .bottom-footer,
.ie8 .page-template .bottom-footer {
    border-color: #ececec;
}

.team-group {
    border: 1px solid #e0e0e0;
}

.button.default,
.button.turquoise:hover {
    border-color: rgba(0, 0, 0, 0.133);
    color: #666;
}

.button.turquoise:hover {
    background-color: transparent;
}

ul.social-icons li a {
    border: 1px solid #cfcfcf;
    border: 1px solid rgba(207, 207, 207, .33);
}

.join-event-option .z-depth-2 {
    border-color: #eee;
}

#contact-us .form:hover,
#contact-us .form:focus,
.portfolio-filter li.active,
.social-icons a + .tooltip > .tooltip-inner {
    border-color: #6091ba;
}


/* Tooltip on top */

.social-icons a + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid #6091ba;
}

#searchform input[type="text"]:focus + .submit-search {
    border-left-color: #6091ba;
}

.wrong-data {
    border-color: #fe5214;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
select,
button {
    border-color: #dcdcdc;
    border-color: rgba(0, 0, 0, .135);
}

.speakers-list,
#searchform .submit-search {
    border-color: #dcdcdc;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus,
.counter .count {
    border-color: #2f506c;
}

blockquote.type-2,
.comment,
.children .comment {
    border-color: #ebebeb;
}

::-moz-selection {
    background-color: #2f506c;
    color: #fff;
}

::selection {
    background-color: #2f506c;
    color: #fff;
}

.highlight {
    background-color: #2f506c;
    color: #fff;
}

.slides-pagination .current,
.link-icon .curtain,
.plus-icon .curtain,
.project-similar li,
.flat-button {
    border-color: #fff;
}


/* Fix for Parallax */

.parallax .section-title:after {
    background-color: #cfcfcf;
    background-color: rgba(207, 207, 207, .4);
}

.parallax .section-title h2 {
    color: #fff;
}

.course-wrap .course_cur_wrap,
.course-wrap .course_cur_des_ft {
    border-color: #e2e2e2;
}

.course-widget-price,
.course-widget-price li,
ul.circle-list li:before {
    border-color: #e3e3e3;
}

.news_wrap .event-date {
    border-color: rgb(204, 204, 204);
}